:root{
  --white: #ffffff;
  --black: #000000;
  --purple1: #28104E;
  --purple2: #6437A0;
  --purple3: #9854CB;
  --purple4: #DEACF5;
}
/* @media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

} */
html, body{
  width: 100%;
  overflow-x: hidden;
}
.App {
  text-align: center;
  width: 100%;
}
.inname{
  top: 25%;
  left: 10%;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  position: relative;
}
.inname:hover{
  animation: inname 1s 1 linear;
}
.hbutton{
  top: 30%;
  color: var(--white);
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 10px;
  transition: all .3s linear;
  overflow: hidden;
  position: relative;
}
.hbutton:hover{
  color: var(--black);
  border-radius: 5px;
  width: 10%;
  height: 60%;
  text-align: center;
  background-color: var(--purple4);
  transform: scale(1.2);
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header{
  position: absolute;
  background-color: var(--black);
  top: 0%;
  width: 100%;
  height: 10%;
  display: flex;
  list-style: none;
  margin-bottom: 3px;
}
ul{
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 5px;
  line-height: 10px;
  padding-left: 65%;
}
/* h1 {
  color: #08fcf0;
  font-family: Georgia, "Times New Roman", Times, serif;
} */
.time {
  text-align: center;
  top: 40px;
  left: 300px;
  position: absolute;
  color: #08fcf0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
}
@keyframes inname {
  50% {
	color:#aaa;
  }
  70%{
    color:#0da6ba;
  }
  100% {
	color:#0da6ba;
  }
}
/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */
@media only screen and (max-width: 820px) {
  .App{
    width: 100%;
  }
  .logoname{
    visibility: hidden;
  }
  ul{
    position: relative;
    display: flex;
    padding-left: 0px;
  }
  .time{
    font-size: 18px;
    top: -20px;
    left: -5px;
    position: relative;
  }
  .time:hover{
    color: #7416A0;
    transition: all .3s linear;
  }
  .profilesec{
    background-image: url("./assets/bg4.jpg");
    background-size: cover;
    right: 40px;
    border: 5px solid var(--purple1);
    border-radius: 15px;
    max-width: 80%;
    height: 70%;
    background-color: #d7d7d9;
    position: absolute;
    top: 11%;
  }
  .profile{
    width: 45%;
    height: 45%;
    top: 35px;
    left: auto;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #7416A0;
    /* border-inline-start-color: #7416A0;
    border-inline-end-color: #7416A0; */
    transform: scale(1.0);
    position: relative;
    /* for chrome and safari*/
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slidein;

    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;

      /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;

      /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
  }
  /* .profile:hover{
    border: 8px solid grey;
    transform: scale(1.0);
    transition: all .3s linear;
  } */
  @-webkit-keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @-moz-keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @-o-keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 45%;
    }
    to {
      margin-left: 0%;
      width: 45%;
    }
  }
  .myname{
    background: linear-gradient(92deg, #500977,#8916c6, #eac9f4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: hue 10s infinite linear;
    position: relative;
    top: 20px;
    left: auto;
  }
  @keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
  }
  /* .myname:hover{
    color: green;
    transform: scale(1.0);
    transition: all .3s linear;
  } */
  .im {
    color: green;
    font-size: 24px;
    position: relative;
    bottom: 100px;
    right: 100px;
  }
  .typing{
    color: #7416A0;
    font-size: 24px;
    top: 10px;
    right: auto;
    position: relative;
  }
  .high{
    background-color: #f7f9fc;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 300px;
    bottom: 100px;
    position: relative;
  }
  #bio p{
    color: #7416A0;
    text-align: justify;
    line-height: 1.75em;
    top: 10px;
    left: 20px;
    width: 90%;
    position: relative;
  }
  #bio .start::first-letter{
    color: purple;
    font-size: 2.5rem;

  }
  .name{
    color: pink;
    overflow: hidden;
    font-family: 'Courier New', monospace;
  }
  .name:hover{
    color: pink;
  }
  .footer{
    color: #08fcf0;
    /* background-image: url("./assets/bg2.jpg");
    background-size: cover; */
    background-color: var(--purple);
    bottom: auto;
    height: 250px;
    width: 100%;
    position: relative;
  }
  .rights{
    font-size: 10px;
    margin-top: 50px;
    text-align: center;
    color: whitesmoke;
  }
  .company{
    color: #7416A0;
  }
  #social{
    margin-top: 100px;
    margin-right: 1em;
  }
  .hof{
    background-color: #f7f9fc;
    color: #0da6ba;
    font-size: xx-large;
    width: 100%;
    height: 12em;
    bottom: 100px;
    position: relative;
  }
  .hofname{
    background: linear-gradient(92deg, #500977,#8916c6, #eac9f4, #f7f9fc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: hof 1s infinite linear;
  }
  @keyframes hof {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
  }
  
  /* .grid-container{
    grid-gap: 20px;
    display: flex;
    grid-template-columns: auto auto auto;
  } */
  .lifeomichof{
    width: 100px;
    height: 50px;
    left: 10px;
    align-items: center;
    position: relative;
  }
  .lifeomichof:hover{
    width: 115px;
  }
}
/* .grid-container{
  width: 100%;
  position: relative;
  display: flex;
  grid: auto / auto auto auto;
  grid-gap: 30px;
  background-color: #2196f3;
  padding: 10px;
}
.grid-container > div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */
/* .grid-container-fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.grid-element {
  margin-bottom: -30px;
  background-color: ;
  padding: 20px;
  position: relative;
  color: #fff;
  border: 1px solid red; 
  height: 50px;
}*/
.grid-container {
  bottom: 20px;
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.knowledge{
  background-color: #f7f9fc;
  width: 100%;
  height: 30rem;
  bottom: 90px;
  position: relative;
  visibility: visible;
}
.knowledge h1{
  color: #7416A0;
  visibility: visible;
}
.pl{
  visibility: visible;
  grid-gap: 1%;
  grid-row-gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  display: grid;
  position: relative;
  top: 50px;
  left: 0px;
}
.pl img{
  visibility: visible;
  border-radius: 6px;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  display: grid;
}
.tooltip{
  visibility: visible;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}
.tooltipText {
  visibility: visible;
  background-color: #fff;
  position: absolute;
  bottom: 130%;
  left: -10%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: all .5s;
}

/*  Membuat dan style tip*/
.tooltipText::after {
  visibility: visible;
  content: '';
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
}
/* .tooltip:hover{
  border-radius: 10px;
  border: 2px solid purple;
} */
/* Hover text tooltip */
.tooltip:hover .tooltipText{
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}
.frontend{
  position: relative;
  width: 100%;
  height: 10rem;
  bottom: 5rem;
  background-color: #f7f9fc;
}
.frontend h1{
  color: #7416A0;
}
.text-red {
  color: red;
  font-size: 18px;
}
.blink-hard {
  animation: blinker 1s step-end infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.bli{
  color: red;
}
.profileLogo{
  pointer-events: none;
  max-width:45px;
  max-height: 45px;
  position: relative;
  top: 6px;
  left: 20px;
}

/* This is the code for screen more than >720 resolution */
/* @media only screen and (max-width: >= 980px) {
  .typing{
    color: red;
    font-size: 24px;
    bottom: 20px;
    right: auto;
    position: relative;
  }
} */
/*content for full screen min-width: 720px */
@media only screen and (min-width: 720px) {
  .App{
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(133,89,167,1) 40%, rgba(116,22,160,1) 92%); */
    /* background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%); */
    /* background-image: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%); */
    background-color: var(--purple1);
    background-size: cover;
    min-height: 100%;
  }
  .body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .whoami{
    position: fixed;
    bottom: 115px;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-image: url("./assets/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .im{
    position: relative;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    bottom: 100px;
    left: 150px;
    color: var(--white);
  }
  .typing{
    position: relative;
    bottom: 680px;
    right: 320px;
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
  }
  .header{
    background-color: var(--purple4);
    border-radius: 15px;
    top: 30px;
    width: 90%;
    position: fixed;
    z-index: 100000;
  }
  ul{
    float: left;
    display: flex;
    right: 20%;
    bottom: 7px;
    position: relative;
  }
  .profile{
    border: 10px solid var(--purple1);
    border-radius: 120px;
    top: 10px;
    max-width: 200px;
    max-height: 200px;
    position: relative;
  }
  .profilesec{
    display: grid;
    background-image: url("./assets/bg4.jpg");
    background-size: cover;
    position: relative;
    border-radius: 15px;
    border: 5px solid var(--purple2);
    width: 30%;
    height: 470px;
    bottom: 120px;
    left: 650px;
  }
  .high{
    display: grid;
    border-radius: 15px;
    background-color: var(--purple2);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    left: 120px;
    width: 40%;
    height: 485px;
    top: -600px;
    position: relative;
  }
  #bio p{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    text-align: justify;
    line-height: 1.75em;
    top: 10px;
    left: 20px;
    width: 90%;
    position: relative;
  }
  #bio .start::first-letter{
    color: white;
    font-size: 2.5rem;

  }
  .hof{
    position: relative;
    background-color: var(--purple2);
    border-radius: 15px;
    width: 90%;
    height: 270px;
    top: -850px;
    left: 60px;
    align-items: center;
  }
  .lifeomichof{
    position: relative;
    width: 170px;
    bottom: -52px;
  }
  .hofname{
    font-size: 32px;
    /* background: linear-gradient(92deg, #500977,#8916c6, #eac9f4, #f7f9fc); */
    background: linear-gradient(92deg, #ffffff, #500977);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: hof 1s infinite linear;
  }
  @keyframes hof {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
  }
  .knowledge{
    width: 90%;
    left: 60px;
    bottom: 850px;
    background-color: var(--purple2);
    border-radius: 15px;
  }
  .knowledge h1{
    color: white;
  }
  .footer{
    background-color: black;
    bottom: auto;
    height: 250px;
    width: 100%;
    position: relative;
  }
  @media only screen and (max-width: 520 ){
    ul{
      position: relative;
      display: inline;
    }
  }
  .profileLogo{
    width: 45px;
    height: 45px;
    position: relative;
    top: 6px;
    left: 20px;
  }
  .logoname{
    display: flex;
    justify-content: center;
    color: var(--purple2);
    /* background-color: black; */
    position: relative;
    white-space: nowrap;
    left: 80px;
    top: 4px;
    height: 40px;
    width: 1000px;
    font-size: 20px;
  }
}